
nav {
  border-bottom: 4px solid black;
  text-align: center;
  position: fixed;
  left: 0;
  height: 100%;
  background: white;
  border-right: 2px solid #58949C;
}

nav ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
}

nav li {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  float: center;
  display: flex;
  flex-direction: column;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 16px 32px;
}

nav a:hover {
  background: #58949C;
  color: white;
}


.grid-container {
  float: center;
  display: grid;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.item2 {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.item5 {
  grid-column: 1 / span 3;
  grid-row: 3;
}


@keyframes cfFadeInOut {
0% {
opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

#cf img.top {
animation-name: cfFadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 5s;
animation-direction: alternate;
}

section,
aside
 {
  margin: 0 1.5% 24px 1.5%;
  line-height: 1.5;
  text-align: center;
}


footer {
  background-color: #58949C;
  float: right;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  text-align: center;
  bottom: 0;
  }

#home-content {
    float: center;
    width: 40%;
    margin: auto;
    padding-top: 30%;
    padding-bottom: 10px;
}
#content {
  float: center;
  width: 40%;
  margin: auto;
  padding-top: 3%;
}

#slogan {
  float: center;
  height: 10%;
}
#image1 {
  position: absolute;
  top: 300px;
  right: 750px;
  width: 20%;
}

#image2 {
  position: absolute;
  top: 300px;
  right: 400px;
  width: 20%;
}
#image3 {
  position: absolute;
  top: 300px;
  right: 50px;
  width: 20%;
}
#image4 {
  position: absolute;
  top: 600px;
  right: 400px;
  width: 20%;
}

#image5 {
  float: center;
  height: 300px;
  width: 500px;
  margin: 10px;
}

#image6 {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 25%;
}

#image7 {
  position: absolute;
  top: 650px;
  right: 50px;
  width: 25%;
}

#image8 {
  height: 600px;
  width: 500px;
  padding-right: 100px;
  padding-bottom: 100px;
}

#image9 {
  position: absolute;
  height: 50%;
  width: 50%;
  right: 0;
  margin: 10px;
}

#image10 {
  position: absolute;
  top: 600px;
  right: 750px;
  width: 20%;
}
#image11 {
  position: absolute;
  top: 600px;
  right: 50px;
  width: 20%;
}
#image12 {
  position: absolute;
  top: 900px;
  right: 150px;
  width: 20%;
}
#image13 {
  position: absolute;
  top: 900px;
  right: 650px;
  width: 20%;
}

#image15 {
  height: 450px;
  width: 350px;
  padding-left: 600px;
}

#logo {
  height: 150px;
  width: 150px;
  background-color: white;
}

#paw {
  height: 300px;
  width: 300px;
}
#paws {
  height: 800px;
  position: absolute;
  top: 450px;
  left: 500px;
  width: 70%;
  z-index: -1;
  opacity: 0.6;
  transform: rotate(90deg);
}

#paw1 {
  width: 100px;
}


#email {
  float: center;
  padding-left: 200px;
}

#times {
  float: right;
  padding-right: 100px;
}

#offer {
  width: 20%;
  position: absolute;
  background-color: white;
  padding: 1%;
  left: 350px;
  top: 50px;
  text-align: center;
  z-index: -1;
}

#float1 {

position: absolute;
border: 1px solid #58949C;
top: 550px;
right: 50px;
width: 25%;
}


#float2{

position: absolute;
border: 1px solid #58949C;
top: 850px;
right: 50px;
width: 25%;
}

#float3 {

position: absolute;
top: 100px;
right: 450px;
width: 40%;
}

#team1 {
height: 15%;
width: 15%;

}

#services {
  border: 1px solid #58949C;
  padding: 10px;
  margin: 10px;
}

#gallery {
  height: 1000px;
}

form {
  border: 2px solid blue;
  margin-right: 20px;
  text-align: center;
  height: 600px;
}

input[type=text] {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#message {
  width: 75%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
}
